<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MapApp1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AAF681F1F10D1870045DAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AAF68331F10D18D0045DAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AAF683E1F10D18D0045DAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
